@page "/fusion/close"
@layout NoLayout

<script>
    setTimeout(function () {
        window.close();
    }, 500)
</script>
<div class="alert alert-primary">
    @(Flow) completed, you can close this window.
</div>
