@inherits CircuitHubComponentBase
@inject ILogger<TodoItemRawView> Log

@{
    Log.LogInformation("Rendering item #{Id}: {Item}", Item.Id, Item);
}

<Addons Margin="Margin.Is3.OnY">
    <Addon AddonType="AddonType.Start">
        <AddonLabel>
            <Blazorise.Icon Name="@(Item.IsDone ? FontAwesomeIcons.CheckSquare : FontAwesomeIcons.Square)"
                            @onclick="InvertDone" />
        </AddonLabel>
    </Addon>
    <TextEdit TextChanged="@(new EventCallback<string>(null, UpdateTitle))" Text="@Item.Title" Debounce="true" />
    <Addon AddonType="AddonType.End">
        <Button Clicked="Remove" Color="Color.Warning">
            <Blazorise.Icon Name="FontAwesomeIcons.Minus"/>
        </Button>
    </Addon>
</Addons>

@code {
    [Parameter, ParameterComparer(typeof(ByValueParameterComparer))]
    public TodoItem Item { get; set; } = null!;

    private Task InvertDone()
    {
        var item = Item with { IsDone = !Item.IsDone };
        return UICommander.Run(new Todos_AddOrUpdate(Session, item));
    }

    private Task UpdateTitle(string title)
    {
        title = title.Trim();
        if (Item.Title == title)
            return Task.CompletedTask;

        var item = Item with { Title = title };
        return UICommander.Run(new Todos_AddOrUpdate(Session, item));
    }

    private Task Remove()
        => UICommander.Run(new Todos_Remove(Session, Item.Id));
}
